.big__container{

    display: border-box;
    margin: 0;}
.container{
    display: grid;
    border: 10px solid black;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    width: 500px;
    height: 500px;
  
}

@media (max-width: 450px){
    .block__RGB{
        max-width: 300px;
        min-height: 300px;
    }
}